<div class='container projects'>

  <div class='row'>
    <div class='col'>
      <button type="button" class="btn btn-secondary button left-one">
        <i class="fa fa-plus plus" aria-hidden="true"></i> New
      </button>
    </div>
    <div class='col'>
      <h2 class='header'>Projects</h2>
    </div>
    <div class='col right-one'>
      <button type="button" class="btn btn-secondary button right-one">
        ...
      </button>
    </div>
  </div>

  <div class='row'>
    <div class='col'>
      <p class='desc'>Do the same sorts of projects over and over? Make a reusable template to save yourself time.</p>
    </div>
  </div>

  <div class='row card-row'>
    <div class='col'>
      <div class="card">
        <h2>som mad szit!</h2>
        <p>Cras ac tincidunt elit, ut ornare lacus. Aenean non leo et nisl aliquam congue.</p>
      </div>
    </div>
    <div class='col'>
      <div class="card">
        <h2>som mad szit!</h2>
        <p>Cras ac tincidunt elit, ut ornare lacus. Aenean non leo et nisl aliquam congue.</p>
      </div>
    </div>
    <div class='col'>
      <div class="card">
        <h2>som mad szit!</h2>
        <p>Cras ac tincidunt elit, ut ornare lacus. Aenean non leo et nisl aliquam congue.</p>
      </div>
    </div>
  </div>

  <div class='row card-row'>
    <div class='col'>
      <div class="card">
        <h2>som mad szit!</h2>
        <p>Cras ac tincidunt elit, ut ornare lacus. Aenean non leo et nisl aliquam congue.</p>
      </div>
    </div>
    <div class='col'>
    </div>
    <div class='col'>
    </div>
  </div>

</div>
